@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --green: #27ae60;
  --light: #666;
  --dark: #34495e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

p,
li,
i,
span,
a {
  font-size: 1.7rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background-color: #eee;
}

:root {
  --green: #27ae60;
  --light: #666;
  --dark: #34495e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.about {
  margin-top: 5rem;
}

.about > .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border: .3rem solid #eee;
  padding: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}

.about > .row > .image-container{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1 1 50rem;
}

.about > .row > .image-container > .small-image{
  width: 20%;
}

.about > .row > .image-container > .big-image{
  width: 80%;
}

.about > .row > .image-container > .small-image > img{
  width: 100%;
  padding: 1rem;
  border: .2rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.about > .row > .image-container > .small-image > img:hover{
  background: #ccc;
}

.about > .row > .image-container > .big-image > img{
  width: 100%;
}

.about > .row > .image-container > .big-image > img:hover{
  transform: scale(1.05);
}

.about > .row > .about-description{
  flex: 1 1 40rem;
}

.about > .row > .about-description > h4{
  color: var(--dark);
  font-size: 1.8rem;
}