@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --green: #27ae60;
  --light: #666;
  --dark: #34495e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

p,
li,
i,
span,
a {
  font-size: 1.7rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background-color: #eee;
}

:root {
  --green: #27ae60;
  --light: #666;
  --dark: #34495e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.hero {
  margin: 5rem 0;
}

.box-hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card-hero {
  border: 0.1rem solid #eee;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.card-hero:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.card-hero > .image {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.card-hero > .image > img {
  width: 100%;
}

.card-hero > .image > .fa-share,
.card-hero > .image > .fa-eye {
  position: absolute;
  top: 0.1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.2s linear;
  background: #eee;
}

.card-hero > .image > .fa-share {
  right: -5rem;
}

.card-hero > .image > .fa-eye {
  left: -5rem;
}

.card-hero:hover > .image > .fa-share {
  right: 0.1rem;
}

.card-hero:hover > .image > .fa-eye {
  left: 0.1rem;
}

.card-hero > .image > .fa-share:hover,
.card-hero > .image > .fa-eye:hover {
  background-color: var(--green);
  color: #fff;
}

.card-hero > .content {
  margin-top: 1rem;
  color: var(--dark);
  text-align: center;
}

.card-hero > .content > h4 {
  font-size: 1.8rem;
  margin: 1rem 0 0.5rem;
}

.card-hero > .content > .price {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.card-hero > .content > .price > span,
.card-hero > .content > .price > a {
  font-size: 2rem;
  color: var(--green);
  font-weight: bolder;
  
}

.card-hero > .content > .price > span {
  text-decoration: line-through;
}

/* media query responsive */
@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }

  .box-hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .box-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
