@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --green: #27ae60;
  --light: #666;
  --dark: #34495e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

p,
li,
i,
span,
a {
  font-size: 1.7rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background-color: #eee;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  color: #fff;
  background: var(--dark);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background-color: var(--green);
  letter-spacing: 0.1rem;
}

/* review */
.review {
  margin-top: 5rem;
}

.review > .box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review > .box > .card-review {
  padding: 2rem;
  border: 0.7rem solid var(--green);
  border-radius: 1rem;
  flex: 1 1 30rem;
  background: #333;
  text-align: center;
  color: #fff;
  margin-top: 6rem;
}

.review > .box > .card-review > img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-top: -8rem;
  object-fit: cover;
  border: 0.7rem solid var(--green);
}

.review > .box > .card-review > h4 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.review > .box > .card-review > .star > i {
  color: var(--green);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.review > .box > .card-review > p {
  line-height: 1.7;
}

/* end of review */

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
