<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link css -->
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/products.css" />
    <!-- link swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- link fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>products</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <a href="#" class="logo">sportstore.</a>

      <nav class="navbar">
        <a href="../index.html">home</a>
        <a href="../components/products.html" class="active">products</a>
        <a href="../components/about.html">about</a>
        <a href="../components/menu.html">menu</a>
        <a href="../components/review.html"></a>
        <a href="#order">order</a>
      </nav>

      <div class="icons">
        <i class="fa-solid fa-bars" id="menu-bar"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a class="fa-solid fa-heart"></a>
        <a class="fa-solid fa-cart-shopping"></a>
      </div>
    </header>
    <!-- end of  header -->

    <!-- form search -->
    <form action="" id="search-form">
      <input
        type="search"
        placeholder="search here..."
        name=""
        id="search-box"
      />
      <label for="search-box" class="fas fa-search"></label>
      <i class="fas fa-times" id="close"></i>
    </form>
    <!-- end of form search -->

    <!-- section hero -->
    <section class="hero" id="hero">
      <h4 class="sub-title">our products</h4>
      <h3 class="title">all products</h3>
      <div class="box-hero">
        <article class="card-hero">
          <div class="image">
            <img src="../src/chelsea.webp" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>chelsea</h4>
            <p>chelsea Fc nike home Shirt 2023-24.</p>
            <div class="price">
              <span>$55</span>
              <a>$40</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/goalkeeperglove.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>goalkeeper gloves</h4>
            <p>Adidas Predator Pro Goalkeeper Glove.</p>
            <div class="price">
              <span>$50</span>
              <a>$47.99</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/nikeairzoommercurial.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>nike air zoom</h4>
            <p>Nike Air Zoom Mercurial Vapor 15.</p>
            <div class="price">
              <span>$59.99</span>
              <a>$49.99</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/trainningjackets3.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>jacket</h4>
            <p>Man utd adidas Big Baffle Down Jacket.</p>
            <div class="price">
              <span>$70</span>
              <a>$68.99</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/baseballbat.webp" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>Softball Bat</h4>
            <p>2024 worth bedlam phil matte XL asa.</p>
            <div class="price">
              <span>$29.99</span>
              <a>$19.99</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/baseballglove.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>baseball gloves</h4>
            <p>Rawlings Select Exclusive Edition.</p>
            <div class="price">
              <span>$39.99</span>
              <a>$25</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/boxinggloves.webp" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>boxing gloves</h4>
            <p>MMA training gloves apex red 2024.</p>
            <div class="price">
              <span>$44</span>
              <a>$39.99</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
        <article class="card-hero">
          <div class="image">
            <img src="../src/tennisrackets.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
          <div class="content">
            <h4>tennis racket</h4>
            <p>Tennis Set Aluminium Rackets, Balls.</p>
            <div class="price">
              <span>$14.99</span>
              <a>$10.99</a>
            </div>
            <a class="btn">order now</a>
          </div>
        </article>
      </div>
    </section>
    <!-- end of section hero -->

    <section class="new-arrivals" id="new-arrivals">
      <h3 id="title">new arrivals<a class="fas fa-arrow-right-long"></a></h3>
      <div class="swiper-container arrivals-slider">
        <div class="swiper-wrapper wrapper">
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/europa24.png" alt="" />
            </div>
            <p>euro ball 24</p>
            <span>$30</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/goalkeeperglove1.jpg" alt="" />
            </div>
            <p>goalkeeper glove</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/srystals.jpg" alt="" />
            </div>
            <p>home shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/fullham.jpg" alt="" />
            </div>
            <p>away shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/briton.webp" alt="" />
            </div>
            <p>third shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/aston.png" alt="" />
            </div>
            <p>away shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/wesham.jpg" alt="" />
            </div>
            <p>third shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/skateboard.jpg" alt="" />
            </div>
            <p>skateboard</p>
            <span>$35</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/basketballkit.jpg" alt="" />
            </div>
            <p>basketball kit</p>
            <span>$45</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/basketballball.jpg" alt="" />
            </div>
            <p>basketball</p>
            <span>$47</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/HeavyPunchingBag.jpg" alt="" />
            </div>
            <p>Heavy Punching Bag</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/mmaglove1.webp" alt="" />
            </div>
            <p>mma glove</p>
            <span>$47</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/boxinggloves1.jpg" alt="" />
            </div>
            <p>boxing glove</p>
            <span>$47</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/headgear.jpg" alt="" />
            </div>
            <p>protector headgear</p>
            <span>$47</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/volleyball.jpg" alt="" />
            </div>
            <p>volley ball</p>
            <span>$10</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/tennisset.jpg" alt="" />
            </div>
            <p>tennis set</p>
            <span>$42</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/sportbicycle.webp" alt="" />
            </div>
            <p>sport bicycle</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/baseballbat1.webp" alt="" />
            </div>
            <p>softball bat</p>
            <span>$48</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/bumbbell.webp" alt="" />
            </div>
            <p>bumbbell</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/bace.webp" alt="" />
            </div>
            <p>home shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/liverpools.jpg" alt="" />
            </div>
            <p>away shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/manutd.jpg" alt="" />
            </div>
            <p>third shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/arsenal.webp" alt="" />
            </div>
            <p>away shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/at.jpg" alt="" />
            </div>
            <p>third shirt</p>
            <span>$50</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/trainingjacket1.jpg" alt="" />
            </div>
            <p>trainning jacket</p>
            <span>$45</span>
          </div>
          <div class="swiper-slide box-new-arrivals">
            <div class="image">
              <img src="../src/boot.jpg" alt="" />
            </div>
            <p>crazyfast messi</p>
            <span>$100</span>
          </div>
        </div>
      </div>
    </section>

    <section class="just-for-you" id="just-for-you">
      <h3 id="title">just for you</h3>
      <div class="box-product">
        <article class="card-product">
          <div class="image">
            <img src="../src/goalkeeperglove4.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/skateboard1.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/IceHockeySkate.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/heavybagstand.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/BigPunchElectronicBoxing.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/basketballkit1.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/boot1.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/shinguard.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/soccersock.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/psg.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>
        <article class="card-product">
          <div class="image">
            <img src="../src/ucl24.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/stephurdle.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/speedladder.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/coneset.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/IceHockeymelmet.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/rugby.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/golfpackageset.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/boxingset.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/trainningjacket4.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article> 
        <article class="card-product">
          <div class="image">
            <img src="../src/sportbicycle1.webp" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>  
        <article class="card-product">
          <div class="image">
            <img src="../src/baseballglove1.jpg" alt="" />
            <i class="fa-solid fa-share"></i>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="price">
            <span>$49.99</span>
            <a href="#" class="btn">shop now</a>
          </div>
        </article>  
      </div>
    </section>

    <!-- footer -->
    <section class="footer">
      <div class="container-footer">
        <div class="list">
          <h3>locations</h3>
          <a href="#">kampong cham</a>
          <a href="#">phnom penh</a>
        </div>
        <div class="list">
          <h3>quick links</h3>
          <a href="#">home</a>
          <a href="#">product</a>
          <a href="#">about</a>
          <a href="#">menu</a>
          <a href="#">review</a>
          <a href="#">order</a>
        </div>
        <div class="list">
          <h3>contack info</h3>
          <a href="#">+855 962761101</a>
          <a href="#">+855 15806701</a>
          <a href="#">menghorng414@gmail.com</a>
        </div>
        <div class="list">
          <h3>follow us</h3>
          <a href="#">facebook</a>
          <a href="#">instagram</a>
        </div>
      </div>
      <div class="copyright">
        <p>copyright &copy; 2024 <span>by meng horng</span></p>
      </div>
    </section>
    <!-- end of footer -->

    <!-- script swieer -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- script js -->
    <script src="../js/app.js"></script>
  </body>
</html>
